  <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        MEN AT WORK 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

<div class="container main-container">
  <section  class="pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col text-uppercase text-center">
          <h2><strong>Registro de Jornal de los Trabajadores</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2">
          <form style="margin-top: 20px;" [formGroup]="formularioUno">  
            <div class="form-row">
              <div class="form-group col-12 col-md-18">
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombres" name="nombre">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12 col-md-18">
                <input type="text" class="form-control" formControlName="apellido" placeholder="Apellidos" name="apellidos">
              </div>
            </div>              
            <div class="form-row">
              <div class="form-group col-12 col-md-18">
                <input type="text" class="form-control" formControlName="cedula" placeholder="Cedula de Identidad" name="cedula">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12 col-md-18">
                <input type="text" class="form-control" formControlName="numero" placeholder="Numero de empleado" name="numero">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12 col-md-18">
                <input type="text" class="form-control" formControlName="area" placeholder="Area de trabajo" name="area">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12 col-md-18">
                <input type="text" class="form-control" formControlName="profesion" placeholder="Profesion" name="profesion">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12 col-md-18">
                <input type="text" class="form-control" formControlName="salario" placeholder="Salario" name="salario">
              </div>
            </div>

            

      
            <div class="form-row">
              <div class="col">
                <button  class="btn btn-block" style="background-color: #82ad36; color: white;" type="submit">Registrar</button>
                {{formularioUno.value | json}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>  
</div>